<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Connected | Rooted Robotics</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <div class="container">
      <div class="logo">
      <img src="../static/img/rooted.avif" alt="logo" />
      <!-- <h1>ROOTED ROBOTICS</h1> -->
    </div>
    <h3>Your machine is connecting to the internet.</h3>
    <p>If the hotspot reappears, connection failed. Please try again with corrected username and password. 
    If you continue to have issues, please contact support at <a href="mailto:support@rootedrobotics.com">support@rootedrobotics.com</a>.
    </p>
  </div>
</body>
</html>
